<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creative Portfolio & Agency Template is a simple Smooth Personal Portfolio and Agency Based Template" />
    <meta name="keywords" content="Personal, Portfolio, Agency, Onepage, Html, Business" />

    <!--====== TITLE TAG ======-->
    <title>OnePro Html5 Template</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="img/favicon.png" />

    <!--====== STYLESHEETS ======-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/stellarnav.min.css">
    <link rel="stylesheet" href="css/progressbar.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body data-spy="scroll" data-target=".mainmenu-area" data-offset="90">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="top-bar-area gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="call-to-action">
                            <p><i class="fa fa-phone"></i> <a href="callto:+8801744430440">+880 1911 854 378</a></p>
                            <p><i class="fa fa-envelope-o"></i> <a href="mailto:backpiper.com@gmail.com">backpiper.com@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header-social-bookmark">
                            <ul class="social-bookmark">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top-area">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="img/logo.png" alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav">
                                <li class="active"><a href="#home">home</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#team">Team</a></li>
                                <li><a href="#client">Clients</a></li>
                                <li><a href="#pricing">Pricing</a></li>
                                <li><a href="#news">News</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>
    </header>
    <!--END TOP AREA-->

    <!--WELCOME SLIDER AREA-->
    <div class="welcome-slider-area white">
        <div class="welcome-single-slide">
            <div class="slide-bg-one slide-bg-overlay"></div>
            <div class="welcome-area">
                <div class="container">
                    <div class="row flex-v-center">
                        <div class="col-md-7 col-lg-6 col-sm-12 col-xs-12">
                            <div class="welcome-text">
                                <h4>We are</h4>
                                <h1>Business Theme Creator</h1>
                                <p>At vero eos et accusamus iusto odio dignissimos ducmus qui blanditiis praesentium voluptatum deleniti</p>
                                <div class="home-button">
                                    <a href="#">see our project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-single-slide">
            <div class="slide-bg-two slide-bg-overlay"></div>
            <div class="welcome-area">
                <div class="container">
                    <div class="row flex-v-center">
                        <div class="col-md-7 col-lg-6 col-sm-12 col-xs-12">
                            <div class="welcome-text">
                                <h4>We are</h4>
                                <h1>Business Theme Creator</h1>
                                <p>At vero eos et accusamus iusto odio dignissimos ducmus qui blanditiis praesentium voluptatum deleniti</p>
                                <div class="home-button">
                                    <a href="#">see our project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-single-slide">
            <div class="slide-bg-three slide-bg-overlay"></div>
            <div class="welcome-area">
                <div class="container">
                    <div class="row flex-v-center">
                        <div class="col-md-7 col-lg-6 col-sm-12 col-xs-12">
                            <div class="welcome-text">
                                <h4>We are</h4>
                                <h1>Business Theme Creator</h1>
                                <p>At vero eos et accusamus iusto odio dignissimos ducmus qui blanditiis praesentium voluptatum deleniti</p>
                                <div class="home-button">
                                    <a href="#">see our project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--WELCOME SLIDER AREA END-->

    <!--SERVICE TOP AREA-->
    <section class="service-top-area padding-100-50" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-rocket"></div>
                        </div>
                        <h3>Web Development</h3>
                        <p>Lorem Ipsum is a simply dummy texts of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-camera"></div>
                        </div>
                        <h3>Photography</h3>
                        <p>Lorem Ipsum is a simply dummy texts of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-cog"></div>
                        </div>
                        <h3>Online Marketing</h3>
                        <p>Lorem Ipsum is a simply dummy texts of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE TOP AREA END-->

    <!--ABOUT AREA-->
    <section class="about-area padding-100-50 gray-bg" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-content mb50 wow fadeIn">
                        <p>About Our Company</p>
                        <h2>We are Theme Creator</h2>
                        <p class="high-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="waraper skills-member wow fadeInLeft mb50">
                        <div class="skillst5">
                            <div class="skillbar" data-percent="78%">
                                <div class="title">HTML 5</div>
                                <div class="count-bar color-1">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="91%">
                                <div class="title">CSS 4</div>
                                <div class="count-bar color-2">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="58%">
                                <div class="title">jQuery</div>
                                <div class="count-bar color-3">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="63%">
                                <div class="title">PHP</div>
                                <div class="count-bar color-4">
                                    <div class="count"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="100%">
                                <div class="title">Photoshop</div>
                                <div class="count-bar color-5">
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--SERVICE AREA-->
    <section class="service-area section-padding" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Services We Provides</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    </div>
                </div>
            </div>
            <div class="row flex-v-center">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service right wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-rocket"></div>
                        </div>
                        <h4>Web Development</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="single-service right wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-camera"></div>
                        </div>
                        <h4>Photography</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="single-service right mbzero wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-desktop"></div>
                        </div>
                        <h4>Web Design</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 hidden-sm">
                    <div class="service-image text-center wow fadeIn">
                        <img src="img/service/service-mockup.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service left wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-cog"></div>
                        </div>
                        <h4>Online Marketing</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="single-service left wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-bullhorn"></div>
                        </div>
                        <h4>Degital Media</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="single-service left mbzero wow fadeIn">
                        <div class="service-icon">
                            <div class="i fa fa-cog"></div>
                        </div>
                        <h4>24/7 Support</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->

    <!--PORTFOLIO AREA-->
    <section class="portfolio-area padding-100-70 gray-bg" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Awesome Projects</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="portfolio-menu-content wow fadeIn">
                        <ul class="portfolio-menu">
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".web">Web Design</li>
                            <li data-filter=".photography">Photography</li>
                            <li data-filter=".development">Web Development </li>
                            <li data-filter=".marketing">Online Marketing </li>
                            <li data-filter=".digital">Digital Media </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row portfolio-list wow fadeIn">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 marketing photography portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_1.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Web Development</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 digital development portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_2.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Web Design</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 photography marketing portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_3.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>App Development</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 web digital portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_4.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Web Marketing</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 development marketing portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_5.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Email Marketing</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 web portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_6.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Web Development</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 photography portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_7.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Creative Thinking</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 development web portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_8.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Web Development</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
                <div class="hidden-sm col-md-4 col-lg-4 col-sm-6 col-xs-12 digital portfolio-item">
                    <div class="single-portfolio white">
                        <div class="portfolio-thumb">
                            <img src="img/portfolio/portfolio_9.jpg" alt="">
                        </div>
                        <div class="portfolio-details v-center">
                            <h4>Online Marketing</h4>
                            <p>Business / Service / Product / Template</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PORTFOLIO AREA END-->

    <!--PROMO AREA-->
    <section class="promo-area section-padding relative">
        <div class="area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="promo-content text-center white wow fadeIn">
                        <h2>Our Latest Design & Creative Templates</h2>
                        <a href="#" class="download-button">Download Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PROMO AREA END-->

    <!--TEAM AREA-->
    <section class="team-area padding-100-70" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Meet Our Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    </div>
                </div>
            </div>
            <div class="row team-slider">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-team center white wow fadeIn">
                        <div class="member-top-details relative">
                            <div class="member-thumb">
                                <img src="img/team/member-1.jpg" alt="">
                            </div>
                            <div class="member-details v-center">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                                <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, Ut sed do eiusmod tempor indunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="member-bottom-details">
                            <div class="member-name-and-designation">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                            </div>
                            <ul class="social-bookmark">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-team center white wow fadeIn">
                        <div class="member-top-details relative">
                            <div class="member-thumb">
                                <img src="img/team/member-2.jpg" alt="">
                            </div>
                            <div class="member-details v-center">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                                <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, Ut sed do eiusmod tempor indunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="member-bottom-details">
                            <div class="member-name-and-designation">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                            </div>
                            <ul class="social-bookmark">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-team center white wow fadeIn">
                        <div class="member-top-details relative">
                            <div class="member-thumb">
                                <img src="img/team/member-3.jpg" alt="">
                            </div>
                            <div class="member-details v-center">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                                <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, Ut sed do eiusmod tempor indunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="member-bottom-details">
                            <div class="member-name-and-designation">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                            </div>
                            <ul class="social-bookmark">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-team center white wow fadeIn">
                        <div class="member-top-details relative">
                            <div class="member-thumb">
                                <img src="img/team/member-4.jpg" alt="">
                            </div>
                            <div class="member-details v-center">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                                <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, Ut sed do eiusmod tempor indunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="member-bottom-details">
                            <div class="member-name-and-designation">
                                <h4>TOPSMMPANEL.COM<span>Chef</span></h4>
                            </div>
                            <ul class="social-bookmark">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TEAM AREA END-->

    <!--INFO AREA-->
    <section class="info-area gray-bg">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="intro-image wow fadeIn">
                        <img src="img/intro/intro-bg.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="intro-content wow fadeInRight">
                        <h6 class="high-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded as by desire, that they cannot foresee the pain and trouble that are bound to ensues; et and equal blame belongs to those who fail in their duty through weakness.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor som incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--INFO AREA END-->

    <!--TESTMONIAL AREA-->
    <section class="testmonial-area section-padding" id="client">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Happy Clients</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="testmonial-member-list wow fadeIn">
                        <div class="single-testmonial center">
                            <div class="testmonial-author-data">
                                <div class="author-image">
                                    <img src="img/testmonial/testmonial-1.jpg" alt="">
                                </div>
                                <div class="author-designation">
                                    <h4>TOPSMMPANEL.COM</h4>
                                    <p>CEO of TOPSMMPANEL.COM</p>
                                </div>
                            </div>
                            <div class="testmonial-author-details">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo tias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio</p>
                            </div>
                        </div>
                        <div class="single-testmonial center">
                            <div class="testmonial-author-data">
                                <div class="author-image">
                                    <img src="img/testmonial/testmonial-1.jpg" alt="">
                                </div>
                                <div class="author-designation">
                                    <h4>TOPSMMPANEL.COM</h4>
                                    <p>CEO of TOPSMMPANEL.COM</p>
                                </div>
                            </div>
                            <div class="testmonial-author-details">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo tias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio</p>
                            </div>
                        </div>
                        <div class="single-testmonial center">
                            <div class="testmonial-author-data">
                                <div class="author-image">
                                    <img src="img/testmonial/testmonial-1.jpg" alt="">
                                </div>
                                <div class="author-designation">
                                    <h4>TOPSMMPANEL.COM</h4>
                                    <p>CEO of TOPSMMPANEL.COM</p>
                                </div>
                            </div>
                            <div class="testmonial-author-details">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo tias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA END-->

    <!--PRICING AREA-->
    <section class="price-area padding-100-70 gray-bg" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="price-hidding">
                            <h2>Basic</h2>
                            <p>The best to start</p>
                        </div>
                        <div class="price-rate white">
                            <h2><span>$</span>9.99 <span>/monthly</span></h2>
                        </div>
                        <div class="price-details">
                            <ul>
                                <li>3,600 Keywords</li>
                                <li>50 Social Accounts</li>
                                <li>25 Analytics Campaigns</li>
                                <li>45 Email Accounts</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="buy-now-button">
                            <a href="#" class="read-more">Buy It Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.3s">
                        <div class="price-hidding">
                            <h2>Basic</h2>
                            <p>The best to start</p>
                        </div>
                        <div class="price-rate white">
                            <h2><span>$</span>9.99 <span>/monthly</span></h2>
                        </div>
                        <div class="price-details">
                            <ul>
                                <li>3,600 Keywords</li>
                                <li>50 Social Accounts</li>
                                <li>25 Analytics Campaigns</li>
                                <li>45 Email Accounts</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="buy-now-button">
                            <a href="#" class="read-more">Buy It Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="price-hidding">
                            <h2>Basic</h2>
                            <p>The best to start</p>
                        </div>
                        <div class="price-rate white">
                            <h2><span>$</span>9.99 <span>/monthly</span></h2>
                        </div>
                        <div class="price-details">
                            <ul>
                                <li>3,600 Keywords</li>
                                <li>50 Social Accounts</li>
                                <li>25 Analytics Campaigns</li>
                                <li>45 Email Accounts</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="buy-now-button">
                            <a href="#" class="read-more">Buy It Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 visible-sm">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-hidding">
                            <h2>Basic</h2>
                            <p>The best to start</p>
                        </div>
                        <div class="price-rate white">
                            <h2><span>$</span>9.99 <span>/monthly</span></h2>
                        </div>
                        <div class="price-details">
                            <ul>
                                <li>3,600 Keywords</li>
                                <li>50 Social Accounts</li>
                                <li>25 Analytics Campaigns</li>
                                <li>45 Email Accounts</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="buy-now-button">
                            <a href="#" class="read-more">Buy It Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PRICING AREA END-->

    <!--BLOG AND FEED AREA-->
    <section class="blog-and-feed-area section-padding white-gray-bg" id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Latest News</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 hidden-sm">
                    <div class="feed-widget twitter-feed mb50 wow fadeIn">
                        <h4>Twitter Feed</h4>
                        <ul>
                            <li>
                                <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                                <a href="#">@_sumonrahman</a>: Lorem ipsum dolors sit amets sums consectetur adipicing elit sed do eiusmod eset tempor incididunt ut labore.
                            </li>
                            <li>
                                <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                                <a href="#">@_sumonrahman</a>: Lorem ipsum dolors sit amets sums consectetur adipicing elit sed do eiusmod eset tempor incididunt ut labore.
                            </li>
                            <li>
                                <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                                <a href="#">@_sumonrahman</a>: Lorem ipsum dolors sit amets sums consectetur adipicing elit sed do eiusmod eset tempor incididunt ut labore.
                            </li>
                            <li>
                                <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                                <a href="#">@_sumonrahman</a>: Lorem ipsum dolors sit amets sums consectetur adipicing elit sed do eiusmod eset tempor incididunt ut labore.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                    <div class="feed-widget blog-feed mb50 wow fadeIn">
                        <h4>Blog Feed</h4>
                        <div class="blog-list">
                            <div class="single-blog">
                                <div class="blog-thumb">
                                    <img src="img/blog/blog-1.jpg" alt="">
                                </div>
                                <div class="blog-details">
                                    <h4><a href="#">The User Experience</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis... <a href="#">Read More</a></p>
                                    <p class="blog-meta">Posted by <a href="#">admin</a> at <a href="#">04 Feb, 2017</a></p>
                                </div>
                            </div>
                            <div class="single-blog">
                                <div class="blog-thumb">
                                    <img src="img/blog/blog-2.jpg" alt="">
                                </div>
                                <div class="blog-details">
                                    <h4><a href="#">The User Experience</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis... <a href="#">Read More</a></p>
                                    <p class="blog-meta">Posted by <a href="#">admin</a> at <a href="#">04 Feb, 2017</a></p>
                                </div>
                            </div>
                            <div class="single-blog">
                                <div class="blog-thumb">
                                    <img src="img/blog/blog-3.jpg" alt="">
                                </div>
                                <div class="blog-details">
                                    <h4><a href="#">The User Experience</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis... <a href="#">Read More</a></p>
                                    <p class="blog-meta">Posted by <a href="#">admin</a> at <a href="#">04 Feb, 2017</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden-md col-lg-4 col-sm-6 col-xs-12">
                    <div class="feed-widget insta-feed wow fadeIn">
                        <h4>Instagram Feed</h4>
                        <ul>
                            <li>
                                <a href="#"><img src="img/instagram/insta_1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_5.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_6.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_7.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_8.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/instagram/insta_9.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="client-slider mt50 wow fadeIn">
                        <div class="single-client">
                            <img src="img/client/client-1.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-2.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-3.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-4.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-5.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-1.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-2.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-3.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-4.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="img/client/client-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BLOG AND FEED AREA END-->

    <!--CONTACT US AREA-->
    <section class="contact-area padding-top gray-bg" id="contact">
        <div class="contact-form-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="contact-details-content wow fadeIn">
                            <h2>Contact Info</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the et majori have suffered alteration in some form, by injected humour, Domised words which don't look even slightly believable. If you are going to use a pas of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="contact-address-details">
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Address</h5>
                                        <p>Freedom Way, Jersey City, NJ 07305, USA</p>
                                    </div>
                                </div>
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Phone</h5>
                                        <p>+880 1911 854 378</p>
                                    </div>
                                </div>
                                <div class="single-contact">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Email</h5>
                                        <p>backpiper.com@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="contact-form mb50 wow fadeIn">
                            <h2>Send Message</h2>
                            <form action="process.php" id="contact-form" method="post">
                                <div class="form-group" id="name-field">
                                    <div class="form-input">
                                        <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                    </div>
                                </div>
                                <div class="form-group" id="email-field">
                                    <div class="form-input">
                                        <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                    </div>
                                </div>
                                <div class="form-group" id="phone-field">
                                    <div class="form-input">
                                        <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Subject..">
                                    </div>
                                </div>
                                <div class="form-group" id="message-field">
                                    <div class="form-input">
                                        <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Your Message Here..." required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="map-area relative">
                            <div id="map" style="width: 100%; height: 300px;"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US AREA END-->

    <!--FOOER AREA-->
    <div class="footer-area white">
        <div class="footer-top-area padding-100-50 dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-social-bookmark text-center wow fadeIn">
                            <h2>Business One</h2>
                            <ul class="social-bookmark">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area deep-dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-copyright text-center wow fadeIn">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="js/vendor/jquery.easing.1.3.js"></script>
    <script src="js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/vendor/jquery.appear.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/stellarnav.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="js/main.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&sensor=false"></script>
    <script src="js/maps.active.js"></script>
</body>

</html>
